# Файлы сборки Flutter (самые тяжелые)
build/
.dart_tool/

# Зависимости
.packages
.pub-cache/
.pub/

# Локальные файлы конфигурации Android / iOS / Web
.fvm/
.flutter-plugins
.flutter-plugins-dependencies
.generated_plugins
**/ios/.generated_files/

# Настройки IDE (VS Code и Android Studio)
.idea/
*.iml
*.ipr
*.iws
.vscode/
.history/

# Файлы операционной системы
.DS_Store
Thumbs.db

# Локальные переменные окружения и ключи (секреты)
*.env
*.keystore
*.jks


ios/Podfile.lock
